<!DOCTYPE html>
<html>
<head>
	<title>Urban CO2</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
</head>
<body>

	   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Urban CO2 </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">1. Urban CO<sub>2</sub></a></li>
            <li><a href="/mobile">2. Monitoring</a></li>
            <li><a href="/explore">3.Explore</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/about">About</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  <div class="container page-content">
	{{{body}}}
	</div>

  <!-- <footer>
      <div class="footer">
          <div class="col-md-12">
            <div class="col-md-12">
              <center><h4>Team</h4></center>
            </div>
            <div class="col-md-4">
              <h5>Research</h5>
              <ul class="list-unstyled credits" >
                <li>Dr. Andreas Christen</li>
                <li>Joey Lee</li>
                <li>Zoran Nesic</li>
                <li>Rick Ketler </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Advisory</h5>
              <ul class="list-unstyled credits">
                <li>Ron Kellett</li>
                <li> Les Lavkulich </li>
                <li>Mozilla Science Lab</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Visualization/Development</h5>
              <ul class="list-unstyled credits">
                <li>Joey Lee</li>
                <li>Rik Smith-Unna</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12"><center><h4>Funding and Support by</h4></center></div>
            <p>NSERC Discovery Grant ‘Direct measurement of greenhouse gas exchange in urban ecosystems’ (Christen), NSERC CREATE/Terrestrial Research on Ecosystems and World Wide Education and Broadcast (TerreWEB) and the Canada Foundation for Innovation CFI (Christen), BCKDF, Moovel Labs, and the Mozilla Science Lab</p>
          </div>
        </div>
    </footer> -->

</body>
</html>