
<div class="container">
	<div class="header-content">
		<h1 class="text-center">About</h1>
	</div>


	<section>
		<div id="motivation">
			<h2>Process</h2>
			<p>...</p>
			<iframe src="https://player.vimeo.com/video/124600121" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://vimeo.com/124600121">Making of: CO2 sensor</a> from <a href="https://vimeo.com/leejoeyk">Joey Lee</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

			<p>
				<iframe src="https://player.vimeo.com/video/134364996" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				<p><a href="https://vimeo.com/134364996">Traverse through Vancouver</a> from <a href="https://vimeo.com/leejoeyk">Joey Lee</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			</p>
		</div>
	</section>

	<section>
		<div id="references">
			<h2>References</h2>
			<ul>
				<li>...</li>
				<li>...</li>
				<li>...</li>
			</ul>
		</div>
	</section>
	<section>
		<div id="credits">
			<h2>Funding & Support</h2>
			<p>NSERC Discovery Grant ‘Direct measurement of greenhouse gas exchange in urban ecosystems’ (Christen), NSERC CREATE/Terrestrial Research on Ecosystems and World Wide Education and Broadcast (TerreWEB) and the Canada Foundation for Innovation CFI (Christen), BCKDF, and the Mozilla Foundation / Mozilla Science Lab.</p>
			<p>Completed as Mozilla Science Lab Sprint.</p>
		</div>
	</section>

</div>

