
<div class="container">
	<div class="header-content">
		<h1 class="text-center">About</h1>
	</div>


	<section>
		<div id="motivation">
			<h2>Motivation</h2>
			{{!-- <p><img src=""> </p> --}}
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
	</section>

	<section>
		<div id="videos">
			<h2>Process</h2>
			<div class="text-center">

				<iframe src="https://player.vimeo.com/video/124600121" width="700" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				<p> <a href="https://vimeo.com/124600121">Making of: CO2 sensor</a> from <a href="https://vimeo.com/leejoeyk">Joey Lee</a> on <a href="https://vimeo.com">Vimeo</a>.</p> <br>

				<iframe src="https://player.vimeo.com/video/134364996" width="700" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				<p><a href="https://vimeo.com/134364996">Traverse through Vancouver</a> from <a href="https://vimeo.com/leejoeyk">Joey Lee</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


			</div>
		</div>

	</section>

	<section>
		<div id="references">
			<h2>References</h2>
			<ul>
				<li>...</li>
				<li>...</li>
				<li>...</li>
			</ul>
		</div>
	</section>
	<section>
		<div id="credits">
			<h2>Funding & Support</h2>
			<p>NSERC Discovery Grant ‘Direct measurement of greenhouse gas exchange in urban ecosystems’ (Christen), NSERC CREATE/Terrestrial Research on Ecosystems and World Wide Education and Broadcast (TerreWEB) and the Canada Foundation for Innovation CFI (Christen), BCKDF, and the Mozilla Foundation / Mozilla Science Lab.</p>
			<p>Completed as Mozilla Science Lab Sprint.</p>
		</div>
	</section>

</div>

