<link rel="stylesheet" type="text/css" href="public/stylesheets/scroll-story.css">
<div>
	<div class="header-content">
		<h4 class="text-center">Section 1</h4>
		<h1 class="text-center">Cities and CO<sub>2</sub> Emissions</h1>
	</div>
</div>

<div class="container">
  <div id='graphic'>
    <div id='sections' class="col-md-4 col-sm-3 col-xs-2">
      <section class="step">
        <div class="title">Cities generate a lot of CO<sub>2</sub></div>
        While cities only occupy 2% of the earth's surface, cities and the cumulative processes of urbanization are estimated to contribute approximately 30-40% of the total greenhouse gas (GHG) emissions in the atmosphere. Anthropogenic (human-caused) GHG emissions, particularly CO<sub>2</sub>, are the primary driver of global climate change.
      </section>
      <section class="step">
        <div class="title">At the Urban Scale</div>
        The <a href="">urban metabolism</a> describes cities as systems of inputs - food, water, fuel, and power - and outputs - solid waste, degraded water, and manufactured goods. Therefore a city's emissions impact are influenced by its form and function.
      </section>
      <section class="step">
        <div class="title">At the Local Scale</div>
        The sources of CO<sub>2</sub> in cities can be attributed to two main processes: the combustion of fossil fuels and biological sources.
      </section>
      <section class="step">
          <div class="title">Transporation Emissions</div>
          As vehicles burn fuel to power their engines, they emit CO<sub>2</sub> into the atmosphere. Vehicle based CO<sub>2</sub> emissions account for about 30% of the total emissions made by people. Each gallon (4 litres) burned amounts to about 20 lbs (~9 kg) of CO<sub>2</sub>.
    </section>
      <section class="step">
          <div class="title">HVAC Emissions</div>
          Heating, ventilation, and air conditioning (HVAC) emissions come from natural gas that is burned when heating your home in the winter, cooking at your stove, or running air condition and ventilation in the summer.
    </section>
        <section class="step">
            <div class="title">Biogenic Emissions</div>
            Respiration from plants, soils, animals, and people also account for CO<sub>2</sub> emissions. However, plants do uptake CO2 in the process of photosynthesis. In some well vegetated cities, such as Vancouver, BC, vegetation in the summertime can sometimes offset the CO<sub>2</sub> emissions from human respiration.
      </section>

        <section class="step">
            <div class="title">Cities as solutions</div>
            While cities are major GHG producers, cities also are where emission reductions can be greatest. Policies, technological innovations, and urban design interventions are often most effective at the local scale. Finding new ways to change our behavior - e.g. driving less and biking more - and building more energy efficient buildings and accessible transit options are just a few ways we can help to reduce our CO<sub>2</sub> footprint.
      </section>
        <section class="step">
            <div class="title">Reducing Emissions</div>
            However, currently there are only a few of methods to quantify CO<sub>2</sub> emissions from the scale of a city down to the street. How can people begin to reduce their emissions without a baseline? Learn more about what researchers are doing to better understand urban emissions.
            <button class="btn btn-default turnPage" onclick="location.href='/mobile'">Next Page</button>
      </section>
    </div>
    <div id='vis' class="col-md-8 col-sm-6 col-xs-4">
    </div>
    <!-- <div id="extra-space">
    </div> -->
  </div>
</div>

<script type="text/javascript" src="public/js/cities.js"></script>
<script type="text/javascript" src="public/js/queue.js"></script>
<script type="text/javascript" src="public/js/scroller.js"></script>
<script type="text/javascript" src="public/js/sections.js"></script>




