<style type="text/css">
	.container {
	  width: 890px;
	}

	#graphic {
	  padding-top: 60px;
	}


	#sections {
	  position: relative;
	  display: inline-block;
	  /*width: 250px;*/
	  top: 0px;
	  z-index: 90;
	  padding-bottom: 200px;
	}

	.step {
	  margin-bottom: 200px;
	  font-family: "TiemposTextWeb-Regular","Georgia";
	  font-size: 16px;
	  line-height: 23px;
	  color: #767678;
	}

	#sections .title {
	  font-family: Arial,Helvetica,"san-serif";
	  font-size: 16px;
	  font-weight: bold;
	  margin-bottom: 2px;
	  color: #262626;
	  line-height: 1.2em;
	}

	#extra-space {
	  height: 300px;
	}

	#vis {
	  display: inline-block;
	  position: fixed;
	  top: 60px;
	  z-index: 1;
	  margin-left: 0;
	  /* height: 600px; */
	  /* width: 600px; */
	  /* background-color: #ddd; */
	}

	#vis .title {
	  font-size:40px;
	  text-anchor: middle;
	}

	#vis .sub-title {
	  font-size:40px;
	  text-anchor: middle;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #666;
	  shape-rendering: crispEdges;
	}

	.highlight {
	  fill: #008080;
	  font-weight: bold;
	}

	.cough-arrow {
	  stroke: #000;
	  stroke-width: 4px;

	}
</style>

<div>
	<div class="header-content">
		<h4 class="text-center">Section 1</h4>
		<h1 class="text-center">Cities and CO<sub>2</sub> Emissions</h1>
	</div>
</div>

<div class="container">
  <div id='graphic'>
    <div id='sections' class="col-md-4 col-sm-3 col-xs-2">
      <section class="step">
        <div class="title">Cities generate a lot of CO<sub>2</sub></div>
        Cities and the cumulative processes of urbanization are estimated to contribute approximately 30-40% of the total greenhouse gas (GHG) emissions in the atmosphere. Anthropogenic (human-caused) GHG emissions, particularly CO<sub>2</sub>, are the primary driver of global climate change.
      </section>
      <section class="step">
        <div class="title">CO<sub>2</sub> sources in cities</div>
        The sources of CO<sub>2</sub> in cities can be attributed to two main processes: the combustion of fossil fuels and biological sources.
      </section>
      <section class="step">
          <div class="title">Transporation Emissions</div>
          As vehicles burn fuel to power their engines, they emit CO<sub>2</sub> into the atmosphere. Vehicle based CO<sub>2</sub> emissions account for about 30% of the total emissions made by people. Each gallon (4 litres) burned amounts to about 20 lbs (~9 kg) of CO<sub>2</sub>.
    </section>
      <section class="step">
          <div class="title">HVAC Emissions</div>
          Heating, ventilation, and air conditioning (HVAC) emissions come from natural gas that is burned when heating your home in the winter, cooking at your stove, or running air condition and ventilation in the summer. 
    </section>
        <section class="step">
            <div class="title">Biogenic Emissions</div>
            Respiration from plants, soils, animals, and people also account for CO<sub>2</sub> emissions. However, plants do uptake CO2 in the process of photosynthesis. In some well vegetated cities, such as Vancouver, BC, the vegetation can offset the CO<sub>2</sub> emissions from human respiration. 
      </section>

        <section class="step">
            <div class="title">Cities as solutions</div>
            While cities are major GHG producers, cities also are where emission reductions can be greatest. Policies, technological innovations, and urban design interventions are most successful at the local scale. 
      </section>

        <section class="step">
            <div class="title">Reducing Emissions</div>
            However, currently there are only a handful of methods to quantify CO<sub>2</sub> emissions from the scale of a city down to the street. How can people begin to reduce their emissions without knowing what their impact is? Read on to learn what researchers are doing to better understand urban emissions. <br> <br>
            <button class="btn btn-success"class="turnPage"><a href="/mobile">Read On</a></button>
      </section>

      
    </div>
    <div id='vis' class="col-md-8 col-sm-6 col-xs-4">
    </div>
    <div id="extra-space">
    </div>
  </div>
</div>


<!-- <section>
	<div class="col-md-10 col-md-offset-1 page-content">
		<h4>Cities and the cumulative processes of urbanization are estimated to contribute approximately 30-40% of the total greenhouse gas (GHG) emissions in the atmosphere.</h4>
	</div>
</section>

<section>
	<div class="col-md-10 col-md-offset-1 page-content">
	<h4>Sources of GHGs in Cities</h4>
	<p>The sources of GHGs in cities come primarily from:

	<ul>
		<li>anthropogenic sources: fossil fuel combustion from transportation, heating, ventilation, and air conditioning systems and </li>
		<li>biogenic sources: plant, animal, and human respiration</li>
	</ul>

	</p>

	<div id="viz"></div>

</div>
	
</section>

<section>

<div class="col-md-10 col-md-offset-1 page-content">
	<p>With more than 54% percent of the world's population now living in cities, </p>

	</div>
</section> -->

<script type="text/javascript" src="public/js/cities.js"></script>
<script type="text/javascript" src="public/js/queue.js"></script>
<script type="text/javascript" src="public/js/scroller.js"></script>
<script type="text/javascript" src="public/js/sections.js"></script>




