<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
<link rel="stylesheet" type="text/css" href="public/stylesheets/explore.css">

<div >

		{{!-- <div class="header-content">
			<h4 class="text-center">Section 3</h4>
			<h1 class="text-center">Exploring Future Possibilities</h1>
		</div> --}}


    <div id="map"></div>

</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script type="text/javascript" src="public/js/explore.js"></script>
