<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">

<div class="image">
	<img id="titleimg" src="public/images/cover.png">

	<h1 id="title">What do CO<sub>2</sub> emissions look like on your block?</h1>
	<h2 id="minititle">Learn more about how and why researchers are working to find out. <br>
		<button class="btn btn-success turnPage" onclick="location.href='/cities'">Next Page</button>
	</h2>

</div>

