<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">

<div class="image">
	<img src="public/images/cover.png" width="100%" height="100%">

	<h1 id="title">What do CO<sub>2</sub> emissions look like on your block?</h1>
	<h2 id="minititle">Learn more about how and why researchers are working to find out. <br><br>
		<button class="btn btn-default turnPage" onclick="location.href='/cities'">Next Page</button>
	</h2>

</div>
{{!-- <div class="container">

<div class="col-md-6">
	<h1 class="">
		What do CO<sub>2</sub> emissions look like on your block?

	</h1>
	</div>

	<div class="col-md-6">
	<h2 class="">Learn more about how researchers are working to find out.</h2>
	<button class="btn btn-default turnPage" onclick="location.href='/cities'">Next Page</button>
	</div>
</div>
</div> --}}

