
<section>
	<div class="header-content">
		<h4 class="text-center">Section 1</h4>
		<h1 class="text-center">Cities and CO<sub>2</sub> Emissions</h1>
	</div>
</section>

<section>
	<div class="col-md-10 col-md-offset-1 page-content">
		<h4>Cities and the cumulative processes of urbanization are estimated to contribute approximately 30-40% of the total greenhouse gas (GHG) emissions in the atmosphere.</h4>
	</div>
</section>

<section>
	<div class="col-md-10 col-md-offset-1 page-content">
	<h4>Sources of GHGs in Cities</h4>
	<p>The sources of GHGs in cities come primarily from:

	<ul>
		<li>anthropogenic sources: fossil fuel combustion from transportation, heating, ventilation, and air conditioning systems and </li>
		<li>biogenic sources: plant, animal, and human respiration</li>
	</ul>

	</p>

	<div id="viz"></div>

</div>
	
</section>

<section>

<div class="col-md-10 col-md-offset-1 page-content">
	<p>With more than 54% percent of the world's population now living in cities, </p>

	</div>
</section>

<script type="text/javascript" src="public/js/cities.js"></script>