<link rel="stylesheet" type="text/css" href="public/stylesheets/scroll-story.css">

<div class="container">

		<div class="header-content">
			<h4 class="text-center">Section 2</h4>
			<h1 class="text-center">Monitoring CO<sub>2</sub> in Cities</h1>
		</div>

  <div id='graphic'>
    <div id='sections' class="col-md-4 col-sm-3 col-xs-2">
      {{!-- <section class="step">
        <div class="title">Cities are complex</div>

      </section> --}}
      <section class="step">
          <div class="title">Experimental methods</div>
          New sensing methods and technologies are creating opportunities to monitor CO<sub>2</sub> at the local scale (e.g. neighborhood to street scale). We use compact sensors built on <a href="">open source components</a> deployed on bikes and cars to measure and map CO<sub>2</sub> <a href="">mixing ratios</a> in real-time. Unlike stationary sensors, having a 'fleet' of mobile sensors allows us to account for the spatial variability throughout the city.
	    </section>
	      <section class="step">
	          <div class="title">Not as easy as it sounds</div>
	           As part of our methodology, we use a concept called the <a href="">aerodynamic resistance</a> to calculate CO<sub>2</sub> emissions from CO<sub>2</sub> mixing ratios. To do this, we pair measurements of temperature and CO<sub>2</sub> taken from the mobile sensors at 2m (6ft) height with those taken from a climate tower at 30 m (98 ft) height. These measurements are then used to calculate how easily CO<sub>2</sub> is being "pushed up" from CO<sub>2</sub> sources (e.g. cars) or "pulled down" from CO<sub>2</sub> sinks (e.g. photosynthesizing trees) between the two heights.

	    	</section>
		  <section class="step">
	      <div class="title">CO<sub>2</sub> maps</div>
	          What our research shows is that, under <a href="">convective</a> and <a href="">steady weather</a> conditions, this methodology can help us to map when and where emissions are being created (and even taken up by vegetation) at an unmatched spatial and temporal scale.

	          <br><br>
	          There are a number of assumptions and limitations to this approach such as access to and representativeness of an urban climate tower and favorable weather condtions, however our work shows an important potential for mobile and pervasive sensing in cities to aid in climate research.
	    </section>
            <section class="step">
                <div class="title">Explore the data</div>
                While we continue to develop more robust versions of our current sensor and test our methodology under different weather condtions, explore the results of a measurement campaign in Vancouver BC from the summer of 2015 in the following section.
                <br>

                <button class="btn btn-default turnPage" onclick="location.href='/explore'">Next Page</button>
          </section>
    </div>
    <div id='vis' class="col-md-8 col-sm-6 col-xs-4">
    </div>
    {{!--  <div id="extra-space">
    </div> --}}
  </div>
</div>

<script type="text/javascript" src="public/js/queue.js"></script>
<script type="text/javascript" src="public/js/scroller.js"></script>
<script type="text/javascript" src="public/js/monitoring.js"></script>





{{!-- Monitoring CO<sub>2</sub> emissions in cities is difficult - in general, we can either build models (or estimates) based on data about factors like fuel consumption, building occupancy and population density, and urban form (e.g. building types) and function (e.g. land use) or we can try to take on-the-ground measurements with sensors. <br><br> In both cases, we face major limitations. Models can be limited by the quality and accessiblity of the data and sensor based methods are prohibitively expensive to deploy and maintain.
 --}}
 {{!-- that's why in general, we only have coarse resolution inventories produced from models (estimates) about emissions at the state or provincial level and above. --}}
