html, body{
	margin:0;
	padding:0;
	/*height:100%;*/
	width:100%;
}

#map
{
	position:absolute;
	top:50px;
	bottom:0;
	width:100%;
	z-index: -100;
}

/*#myBtn{
	z-index: 1000;
	margin-left:85%;
}
*/

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {

    display: table-cell;
    vertical-align: middle;
}
.modal-content {

    width:inherit;
    height:inherit;
    margin: 0 auto;
}

.css-icon {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

/* slider */
#slider-range-max{
	top: 20px;
	z-index: 1000;
	width:33%;
	left: 33%;
	/*margin-left: 50%*/
}

.dots{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 2px;
}

.ui-slider-handle{
    -webkit-border-radius: 50%;
    color: #ecf0f1  !important;
    line-height: 30px  !important;
    top: -10px !important;
    width: 30px !important;
    height: 30px !important;
    background:#16a085 !important;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-left: -20px !important;
    border: none !important;
    -webkit-transition:background .25s ease-in;
   -moz-transition:background .25s ease-in;
   -o-transition:background .25s ease-in;
   transition:background .25s ease-in;
    -webkit-backface-visibility: hidden !important;
    cursor: pointer!important;
}

.ui-slider-handle:hover{
    background:#2fe2bf !important;
}

.ui-slider-handle:active{
   background:#16a085 !important;
}

.ui-slider-handle:focus{
   outline: none !important;
}

.ui-slider-range {
    background:#1abc9c !important;
    border: none !important;
    -webkit-border-radius: 10px !important;
}

.ui-slider{
    -webkit-border-radius: 10px !important;
    border: none !important;
    background:#e8edf2 !important;
}



