html, body{
	margin:0;
	padding:0;
	/*height:100%;*/
	width:100%;
}

#map
{
	position:absolute;
	top:50px;
	bottom:0;
	width:100%;
	z-index: -100;
}

/*#myBtn{
	z-index: 1000;
	margin-left:85%;
}
*/

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {

    display: table-cell;
    vertical-align: middle;
}
.modal-content {

    width:inherit;
    height:inherit;
    margin: 0 auto;
}

.css-icon {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

header {
    background: #666;
    color: #fff;
    height: 20px;
    position: relative;
    padding: 10px;


}


#sliderContainer{
	/*top:85%;*/ /* why do I have to specify from top?*/
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 5px;
	padding: 20px;
	padding-left: 25px;
	padding-right: 25px;
	position: absolute;
	bottom: 0px;
	right:0;
	opacity:0;
	margin-right: 10px;

	/*-webkit-transition: bottom 2s;  Safari
    transition: bottom 2s;*/
}


.dots{
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 1px;
}

.ui-slider-handle{
    -webkit-border-radius: 50%;
    color: #ecf0f1  !important;
    line-height: 40px  !important;
    top: -15px !important;
    width: 40px !important;
    height: 40px !important;
    background:#16a085 !important;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-left: -20px !important;
    border: none !important;
    -webkit-transition:background .25s ease-in;
   -moz-transition:background .25s ease-in;
   -o-transition:background .25s ease-in;
   transition:background .25s ease-in;
    -webkit-backface-visibility: hidden !important;
    cursor: pointer!important;
}

.ui-slider-handle:hover{
    background:#2fe2bf !important;
}

.ui-slider-handle:active{
   background:#16a085 !important;
}

.ui-slider-handle:focus{
   outline: none !important;
}

.ui-slider-range {
    background:#1abc9c !important;
    border: none !important;
    -webkit-border-radius: 10px !important;
}

.ui-slider{
    -webkit-border-radius: 10px !important;
    border: none !important;
    background:#e8edf2 !important;
}


/* #infoContainer -- top */
#infoContainer{
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 1000;
	border-radius: 15px;
	margin-right: 10px;
	margin-top:10px;
	display:none;
}



.closeButton{
	padding: 5px;
	margin-top: 10px;
	margin-right:10px;
	background-color: white;
}

.towerText{
	display: none;
}

.meetText{
	display: none;
}

.animText{
	display: none;
}
.trafficText{
	display: none;
}
.gridText{
	display: none;
}
.areaText{
	display: none;
}

#legendContainer{
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 5px;
	padding: 20px;
	padding-left: 25px;
	padding-right: 25px;
	position: absolute;
	bottom: 90px;
	right:0;
	opacity:1;
	margin-right: 10px;
}
