html, body{
	margin:0;
	padding:0;
	/*height:100%;*/
	width:100%;
}

#map
{
	position:absolute;
	top:50px;
	bottom:0;
	width:100%;
	z-index: -100;
}

#myBtn{
	z-index: 1000;
	margin-left:85%;
}

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {

    display: table-cell;
    vertical-align: middle;
}
.modal-content {

    width:inherit;
    height:inherit;
    margin: 0 auto;
}

.css-icon {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

