	.container {
	  width: 890px;
	}

	#graphic {
	  padding-top: 60px;
	}


	#sections {
	  position: relative;
	  display: inline-block;
	  /*width: 250px;*/
	  top: 0px;
	  z-index: 90;
	  padding-bottom: 200px;
	}

	.step {
	  margin-bottom: 200px;
	  font-family: "TiemposTextWeb-Regular","Georgia";
	  font-size: 16px;
	  line-height: 23px;
	  color: #767678;
	}

	#sections .title {
	  font-family: Arial,Helvetica,"san-serif";
	  font-size: 16px;
	  font-weight: bold;
	  margin-bottom: 2px;
	  color: #262626;
	  line-height: 1.2em;
	}

	#extra-space {
	  height: 300px;
	}

	#vis {
	  display: inline-block;
	  position: fixed;
	  top: 60px;
	  z-index: 1;
	  margin-left: 0;
	   /*height: 600px;*/
	   /*width: 600px;*/
	   /*background-color: #ddd;*/
	}

	#vis .title {
	  font-size:40px;
	  text-anchor: middle;
	}

	#vis .sub-title {
	  font-size:40px;
	  text-anchor: middle;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #666;
	  shape-rendering: crispEdges;
	}

	.highlight {
	  fill: #008080;
	  font-weight: bold;
	}

	.turnPage{
		margin-top: 100px;
	}


/* Map properties /*/
	.stroke {
	  fill: none;
	  stroke: #000;
	  stroke-width: 1px;
	}

	.fill {
	  /*fill: #00001a; */
	  fill: #fff;
	}

	.graticule {
	  fill: none;
	  stroke: #777;
	  stroke-width: .5px;
	  stroke-opacity: .15;
	}

	.land {
	  fill: #222;
	}

	.boundary {
	  fill: none;
	  stroke: #222;
	  stroke-width: .5px;
	}


/* solution mock graph*/

.solution-line{
	fill: none;
	stroke: grey;
	stroke-width: 2;
}
